{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
 {% include 'inc/navbar.html.twig'  %}  
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Giriş Yaptınız {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Giriş Yapın</h1>
    <label for="inputUsername">Kullanıcı Adı</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
    <label for="inputPassword">Şifre</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Beni Hatırla
            </label>
        </div>
    

    <button class="btn btn-lg btn-primary" type="submit">
        Giriş Yap
    </button>
</form>
{% endblock %}
