{% extends 'base.html.twig' %}
{% block title %}Tüm Kategoriler{% endblock %}

{% block body %}
{% include 'admin/menu.html.twig' %}
<table class = " table">
    <thead>
        <tr>
        <th>Adress</th>
        <th>Şehir</th>
        <th>Posto Kodu</th>
        <th>Ödeme Şekli</th>
        <th>Tutar</th>
    <tbody>

    {% for items in items %}
        <tr>
    
            <td>{{items.address}}</td>
            <td>{{items.city}}</td>
            <td>{{items.postcode}}</td>
            <td>{{items.paymentmethod}}</td>
            <td>{{items.price}}</td>
            <td>    
        <a href="{{path('confirm_option',{id: items.id})}}" class="onayla" >Onayla </a>
        </td>
        </tr>
        
    {% endfor %}
{% endblock %}
